<template name="Topbar">
	<div class="topbar">
    	<div class="wrap">
			<nav>
                <ul class="menu">
                    <li><a href="/inicio"> Inicio </a></li>
                    <li><a href="/cursos"> Cursos </a>
                        <ul>
                            <li><a href="#">Prueba1</a></li>
                            <li><a href="#">Prueba2</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="clearfix"></div>
			</nav>
		</div>
    </div>
</template>
