/*****************************************************************************/
/* Topbar: Style */
/*****************************************************************************/
.topbar {
	position: fixed;
	top:0px;
	left:0px;
	width: 100%;
	height: 60px;
	background-color: #AAA;
	color:#000;
	font-size: 12px;
	z-index: 999;
}
div, a, ul, li, menu, nav {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
menu, nav {
	display: block;
}
ul {
	list-style: none;
}
.clearfix {
	clear: both;
}
.wrap {
	width: 99%;
	margin: 5px auto;
}
nav {
	background: -webkit-gradient(linear, center top, center bottom, from(#050), to(#DF0000));
	border-radius: 6px;
	box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.4);
	padding: 0 10px;
	position: relative;
}
.menu li {
	float: left;
	position: relative;
}

.menu li a {
	color: #CCC;
	display: block;
	font-size: 22px;
	line-height: 20px;
	padding: 6px 12px;
	margin: 8px 8px;
	vertical-align: middle;
	text-decoration: none;
}

/* Dropdown styles */
.menu ul {
	position: absolute;
	left: -9999px;
	list-style: none;
	opacity: 0;
	transition: opacity 1s ease;
}

.menu ul li {
	float: none;
}

.menu ul a {
	white-space: nowrap;
}

/* Displays the dropdown on hover and moves back into position */
.menu li:hover ul {
	background: rgba(255,255,255,0.7);
	border-radius: 0 0 6px 6px;
	box-shadow: inset 0px 2px 4px rgba(0,0,0,0.4);
	left: 5px;
	opacity: 1;	
}

/* Persistant Hover State */
.menu li:hover a {
	background: -webkit-gradient(linear, center top, center bottom, from(#666), to(#CCC));
	border-radius: 12px;
	box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.1);
	color: #333;	
	font:bolder;
}

.menu li:hover ul a {
	background: none;
	border-radius: 0;
	box-shadow: none;
	color: #444;
}

.menu li:hover ul li a:hover {
	background: -webkit-gradient(linear, center top, center bottom, from(#666), to(#CCC));
	border-radius: 12px;
	box-shadow: inset 0px 0px 4px 2px rgba(0,0,0,0.3);
	color: #333;
	font-style:italic;
	font:bolder;
}