/*****************************************************************************/
/* Leftbar: Style */
/*****************************************************************************/
.leftbar {
	color:#CCC;
	padding:10px;
	font-size:14px;
}


