<template name="Contents">
	<div class="contents">
    {{#if equals state 1}}
    		<div id="dr">
            	<div id="logo">
                	<img alt="LOGO" src="" width="205" height="180"/>
                </div>
                <div id="slogan">
                	<h1>DRACON RED</h1>
                    <h1>Enfocados en la optimización de procesos empresariales, mediante la tecnología.</h1>	
                </div>
                <div id="inicio">
                	<p><h2>¿Qué es?</h2>
                    Dracon Red (Desarrollo Reticular de Acciones Coordinadas para la Optimización de los Negocios).<br/>
                    Es una red de empresas y personas vinculadas por un código ético.
                    <h2>¿Qué hace?</h2>
                    Integra diferentes metodologías para el desarrollo económico y social, tanto para las empresas como para los individuos.<br/>
                    Por medio de la tecnología optimiza el funcionamiento de las empresas, reduciendo costos, facilitando relaciones comerciales, beneficiando a los usuarios finales de productos y servicios.
                    <h2>Visión</h2>
                    Dracon Red será la empresa líder en inter-conexiones empresariales a nivel de Latinoamérica para el 2018, promoviendo el desarrollo tecnológico y el avance social, ecológico y económico de los pueblos.
                    <h2>Misión</h2>
                    Desarrollar aplicaciones enfocadas a optimizar los procesos operativos de las PYMEs para fortalecer flujos del comercio y negocios inteligentes, utilizando las últimas tendencias tecnológicas, fomentando la innovación, el desarrollo humano y colaborando con el progreso social.</p>
                </div>
            </div>
  		{{else}}
			<h1>Find me in app/client/templates/contents/contents</h1><br/>
            <h1>Find me in app/client/templates/contents/contents</h1><br/>
            
  		{{/if}}
  	</div>
</template>
